/* Views switching fix */
.view {
  display: none !important;
}

.view.active {
  display: flex !important;
  flex-direction: column !important;
  height: 100% !important;
  overflow-y: auto !important;
}

